.dark-mode {
  background-color: black;
  color: white;
}

.day-mode {
  background-color: white;
  color: black;
}

body,
html,
#root {
  /* background-color: red; */

  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
}

.proba {
  color: green;
}
